body {
    background-color: #f0fff4;
    font-family: Arial, sans-serif;
    margin: 15px;
}

.kontak {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.1), 
        rgba(255, 255, 255, 0.7)
        ), url("gambar/gambar restoran.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

a {
    color: #e67e22;
    text-decoration: none;
    transition: color 0.3s ease; /* efek halus */
}

a:hover {
    color: #d35400;
    text-decoration: underline;
}

.footer, p {
    text-align: center;
}

.header {
    text-align: center;
}

footer:hover {
    background-color: #27ae60;
    padding-bottom: 1px;
}

h1, h2 {
    color: #27ae60; /* hijau segar */
}

h3 {
    color: #333333; 
}

.artikel {
    text-align: center;
    line-height: 20px;
    text-indent: 50px;
    word-spacing: 2px;
}

th {
    background-color: #e67e22;
    width: 5%;
}

img {
    width: 150px;
}

.gambarrestoran {
    width: 400px;
}
